# Django
DJANGO_SECRET_KEY=
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=testing.example.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://testing.example.com

# SQL Server
DB_ENGINE=mssql
DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=replace-with-the-database-password
DB_HOST=sqlserver.example.com
DB_PORT=1433
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_EXTRA_PARAMS=Encrypt=yes;TrustServerCertificate=no
